<ion-header [translucent]="true">
  <ion-toolbar   >
    <ion-buttons slot="start">
      <ion-back-button defaultHref="account" ></ion-back-button>
    </ion-buttons>
    <ion-title>
      Update Status
    </ion-title>

  </ion-toolbar>
</ion-header>
<ion-content padding text-center>


<ion-grid>
  <ion-row>
    <ion-col  size-xs="4" size-sm="3" size-md="2" size-lg="2" >
  <ion-button expand="block" style="width: 60%;">
    <ion-icon name="save-outline"></ion-icon>
  </ion-button>
  
</ion-col>

<ion-col  size-xs="4" size-sm="3" size-md="2"  size-lg="2">
  <ion-label>1</ion-label><br>
  <ion-label>2</ion-label>

</ion-col> 
<ion-col size="6" size-xs="12" size-sm="12" size-md="12" size-lg="6">
    <ion-item>
      <ion-label>เลือกสถานะ</ion-label>
      <ion-select [(ngModel)]="newstatus"   >
        <ion-select-option  [value]="Repair"  >Repair</ion-select-option>
        <ion-select-option  [value]="WriteOff"  >Write-Off</ion-select-option>
        <ion-select-option  [value]="Waste"  >Waste</ion-select-option>
     </ion-select>

    </ion-item>
    <button (click)="selectStatus()" id="autoselect"style="display: none;" >load</button>

</ion-col> 

</ion-row>
</ion-grid>

<ion-item-divider>
<ion-input style="font-size: 20px;" placeholder="CLICK FOR SCAN"  [(ngModel)]="a_no" id="input1" ></ion-input>
 </ion-item-divider>    
    <ion-button expand="block"  type="hidden" id="auto_trigger6" (click)="storageData()"  style="display: none;">
      UPDATE
    </ion-button>


    <ion-card>
    <ion-grid>

      <ion-row style="font-size: medium; text-align: center;">
        <ion-col>
          A-No
        </ion-col>
        <ion-col>
          Status
        </ion-col>
        <ion-col>
          Date
        </ion-col>
        <ion-col>
          Delete
        </ion-col>
        
     
      </ion-row>
      <ion-row *ngFor="let item of row_data;let i= index" style=" text-align: center; white-space:inherit;">
        <ion-col>
          {{item.A_No}}
        </ion-col>
        <ion-col>
          {{item.Status}}
        </ion-col>
        <ion-col>
          34
        </ion-col>
       
        <ion-col>
          <ion-button (click)="deleteRow(item)" size="small" color="danger">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    </ion-card>
   
         
    

<ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>
  </ion-content>
 
  <ion-footer style="height: 9%; border-top : solid 0.3px rgb(163, 162, 162); z-index: 100; background-color: white;">
    <ion-grid style="height: 100%;">
      <ion-row style="height: 100%;">
        <ion-col size="3" style="text-align: center; line-height: 50%; height: 100%;" (click)="operation.changePageHome()">
         <div style="height: 60%; text-align: center;">
           <ion-icon name="home-outline" style="color: black;zoom: 1.5; width: 100%;height: 100%; "></ion-icon><br>
          <ion-label style="font-size: small;">Home</ion-label>
         </div>
        </ion-col>

        <ion-col size="3" style="text-align: center; line-height: 50%;color: black;" (click)="operation.changePageAsset()">
         <div style="height: 60%; text-align: center;">
            <ion-icon name="scan" style="zoom: 1.5;width: 100%;height: 100%; "></ion-icon><br>
            <ion-label style="font-size: small;">Scan</ion-label>
         </div>  
       </ion-col>

        <ion-col size="3"  style="text-align: center; line-height: 50%;color: #2780EA ;" (click)="operation.changePageEdit()">
         <div style="height:60%; text-align: center;">
         <ion-icon name="pencil-outline" style="zoom: 1.5; width: 100%;height: 100%; "></ion-icon>
          <ion-label style="font-size: small;">Edit</ion-label>
         </div>
       </ion-col>
       
       <ion-col size="3" style="text-align: center; line-height: 50%;" (click)='operation.changePageAccount()'>
         <div style="height: 60%; text-align: center;">
         <ion-icon name="person-circle-outline" style="color: black; zoom: 1.5;width: 100%;height: 100%;"></ion-icon><br>
          <ion-label style="font-size: small;">Account</ion-label>
         </div>
       </ion-col>
      </ion-row>
    </ion-grid>
   </ion-footer>