
ion-content{
    background-color: rgb(54, 54, 194);
.slides{
    padding: 4px 10px 20px 10px;
    height: 30px;
    width: 30px;
    background-color: brown;
    .ion-card{
        width: 100%;
    
        }
    }
}
#background-content{
    background-color: aliceblue  !important
}
.touch {
  -webkit-overflow-scrolling: touch;
}
.label-green{
    color: green;
  }
  .label-blue{
    color: blue;
  }
  .label-red{
    color: red;
  }
  .label-black{
    color:black;
  }
  .label-lightsalmon{
    color: lightsalmon;
  }
  .label-mediumpurple{
    color: mediumpurple;
  }


