.menu {
    z-index: 5;
    --border-color: white;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 16%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    // top: 10%; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    
  }
  
  /* The navigation menu links */
  .sidenav .ion-item {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
   
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Style page content */
  .main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  .showasset{
      left: 17%;
     position: fixed;
     width: 82%;
  }
  .assetmenu {
      left: 17%;
      
      --border-color: white;
  }
  #wrappermenuasset {
    overflow: hidden;
    display: none;
    height: 500px;
  }

  .label-green{
    color: green;
  }
  .label-blue{
    color: blue;
  }
  .label-red{
    color: red;
  }
  .label-black{
    color:black;
  }
  .label-lightsalmon{
    color: lightsalmon;
  }
  .label-mediumpurple{
    color: mediumpurple;
  }
  .table_a{
    background-color: rgb(240, 240, 241);
  }
  .some-class {
    float: left;
    clear: none;
    border-width: 0px
  }
  
  .label1 {
    cursor: pointer;
    float: left;
    clear: none;
    display: block;
    padding: 0px 0.5em 0px 1px;
    font-size: small;
  }
  .category_color{
    color: blue;
  }
  .status_page_color{
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }

  .res{
    left: 15%;
  }
  .topmenu{
    display: none;
  }
  .name{
    display: block;
  }
  
  @media screen and (max-width: 1000px){
    .sidenav{
      display: none;
    }
    .menu1{
      display: none;
    }
    .res{
      left:7.5%;
      right:7.5%;
    }
    .topmenu{
      display: block;
    }
    .name{
      display: none;
    }
    .showasset{
      left: 0%;
     position: fixed;
     width: 100%;
  }
  .assetmenu {
    left: 0;
      
      --border-color: white;
  }
  }
#general{
  textarea{
    width: 100%;
    height: 100px;
    border: none;
  }
}